@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*-----------------------------------*\
  #CSS GLOBAL
\*-----------------------------------*/
:root {
    --primary-color: #3E1801;
    --primary-color-dark: #120700;
    --container-color : #f5f5f5;
    --text-dark: #0B1215;
    --text-light: #6b7280;
    --extra-light: #d1d5db;
    --white: #f5f5f5;
    --white-asli: #ffffff;
    --badge: #FFA500;
    --max-width: 1200px;
    --border-radius : 10px;
  }
  
  
  /*-----------------------------------*\
    #RESET STYLE
  \*-----------------------------------*/
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .container {
    position: relative;
    width: 100%;
    background-color: var(--white);
  }



  /* =============== Navigation ================ */
.navigation {
    font-family: 'poppins';
    position: fixed;
    width: 200px;
    height: 100%;
    background: var(--primary-color);
    border-left: 10px solid var(--primary-color-dark);
    transition: width 0.3s ease, box-shadow 0.2s ease;
    overflow: hidden;
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .navigation.active {
    width: 70px;
    box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* transition: background-color 0.2s ease; */
  }
  
  .navigation ul li:hover,
  .navigation ul li.hovered {
    background-color: var(--white);
  }
  
  .navigation ul li:nth-child(1) {
    margin-bottom: 20px;
    pointer-events: none;
  }
  
  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
    font-size: 13px;
    transition: color 0.2s ease;
  }

  .navigation ul li:hover a,
  .navigation ul li.hovered a {
    color: var(--primary-color-dark);
  }

  .navigation ul li a img{
    width: 200px;
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: flex;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }
  .navigation ul li a .icon i {
    font-size: 1rem;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
  
  /* --------- curve outside ---------- */
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  /* ===================== Main ===================== */
.main {
    position: absolute;
    width: calc(100% - 200px);
    left: 200px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.3s;
    font-family: 'poppins';
  }
  .main.active {
    width: calc(100% - 70px);
    left: 70px;
  }
  
  .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .search {
    position: relative;
    width: 400px;
    margin: 0 10px;
  }
  
  .search label {
    position: relative;
    width: 100%;
  }
  
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 40px;
    font-size: 13px;
    outline: none;
    border: 1px solid var(--primary-color-dark);
  }
  
  .search label i {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
  }
  
  .user {
    position: relative;
    margin-right: 15px;
    z-index: 999;
  }

    .user li {
        list-style: none;
    }

    .user img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }

    .user .profile-link {
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        background: #fff;
        padding: 10px 0;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
        border-radius: 10px;
        width: 180px;
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease;
    }

        .user .profile-link.show {
            opacity: 1;
            pointer-events: visible;
            top: 100%;
        }

        .user .profile-link a {
            padding: 10px 16px;
            display: flex;
            grid-gap: 10px;
            font-size: 14px;
            color: #000;
            align-items: center;
            transition: all .3s ease;
            text-decoration: none;
        }

            .user .profile-link a:hover {
                background: #F1F0F6;
            }

  /* .user {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 15px;
  } */
  
  /* .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  /* ======================= Cards ====================== */
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    font-family: 'poppins';
  }
  
  .cardBox .card {
    position: relative;
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  
  .cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--blue);
  }
  
  .cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
  }
  
  .cardBox .card .iconBx {
    font-size: 3.5rem;
    color: var(--black2);
  }
  
  .cardBox .card:hover {
    background: var(--primary-color);
  }
  .cardBox .card:hover .numbers,
  .cardBox .card:hover .cardName,
  .cardBox .card:hover .iconBx {
    color: var(--white);
  }

  /* ================== Order Details List ============== */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
  }
  
  .details .recentOrders {
    position: relative;
    display: grid;
    min-height: 400px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  
  .details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
  }
  .cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--primary-color);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
  }
  
  .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .details table thead td {
    font-weight: 600;
  }
  .details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .details .recentOrders table tr:last-child {
    border-bottom: none;
  }
  .details .recentOrders table tbody tr:hover {
    background: var(--primary-color);
    color: var(--white);
  }
  .details .recentOrders table tr td {
    padding: 10px;
  }
  .details .recentOrders table tr td:last-child {
    text-align: end;
  }
  .details .recentOrders table tr td:nth-child(2) {
    text-align: end;
  }
  .details .recentOrders table tr td:nth-child(3) {
    text-align: center;
  }
  .status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .status.inProgress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .recentCustomers {
    position: relative;
    display: grid;
    min-height: 400px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  .recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
  }
  .recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .recentCustomers table tr td {
    padding: 12px 10px;
  }
  .recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
  }
  .recentCustomers table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
  }
  .recentCustomers table tr:hover {
    background: var(--primary-color);
    color: var(--white);
  }
  .recentCustomers table tr:hover td h4 span {
    color: var(--white);
  }